body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  opacity: 0.9;
}
header{
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  background-color: black;
}
header img {
  height: 50px;
  padding-left: 10px;
  display: flex;
}
nav span{
  display: inline-block;
  padding: 20px 10px;
}
a{
  text-decoration: underline;
  color: seashell;
}
.logo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}
.main_content{
  width: 1200px;
  padding-top: 69px;
  margin: auto;
}
.mission{
  display: flex;
  background-image: url("../pictures/img-mission-background.jpg");
  height: 700px;
  padding-top: 69px;
}
.mission .content{
  margin:auto;
  width: 100%;
  background-color: black;
}
h2, h3, h4 {
  margin: 0;
  padding: 10px;
}
.pictureFlex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.featuredTea{
  padding-top: 69px;
  width: 1000px;
  margin: auto;
}
.pictures img {
  height: 200px;
  width: 300px;
  margin: 10px;
  padding-top: 10px;
}
.pictures span{
  display: block;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
}
